body{
	background: #1ff;
}
header{
	background: #1bf;
	border: 10px solid #18f;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 10px;
	margin: 0;
}
nav{
	display: flex;
	flex-direction: row;
	margin-left: 50%;
}
li{
	font-size: 20px;
}
p{
	font-size: 20px;
}
a{
	font-size: 20px;
	color: #228f;
}
a:hover{
	color: #268f;
}
a:active{
	color: #2df;
}
#inicio{
	color: #ffd;
	font-size: 20px;
	background: #1cf;
	border-radius: 10%;
	border: 2px solid #aff;
	width: 90px;
	height: 60px;
	margin: 0 4px;
}
#inicio:hover{
	background: #1df;
}
#inicio:active{
	background: #1df;
	box-shadow: 3px 3px #acf;
}
#informacion{
	color: #ffd;
	font-size: 20px;
	background: #1cf;
	border-radius: 10%;
	border: 2px solid #aff;
	width: 120px;
	height: 60px;
	margin: 0 4px;
}
#informacion:hover{
	background: #1df;
}
#informacion:active{
	background: #1df;
	box-shadow: 3px 3px #acf;
}
#nosotros{
	color: #ffd;
	font-size: 20px;
	background: #1cf;
	border-radius: 10%;
	border: 2px solid #aff;
	width: 110px;
	height: 60px;
	margin: 0 4px;
}
#nosotros:hover{
	background: #1df;
}
#nosotros:active{
	background: #1df;
	box-shadow: 3px 3px #acf;
}
#rqs{
	color: #ffd;
	font-size: 15px;
	background: #1cf;
	border-radius: 10%;
	border: 2px solid #aff;
	width: 130px;
	height: 60px;
	margin: 0 4px;
}
#rqs:hover{
	background: #1df;
}
#rqs:active{
	background: #1df;
	box-shadow: 3px 3px #acf;
}